[Unit]
Description=Node Exporter
Documentation=https://prometheus.io/
After=network-online.target

[Service]
User=prometheus
Restart=on-failure
ExecStart=/usr/bin/nodeexporter/node_exporter-1.0.1.linux-armv7/node_exporter

[Install]
WantedBy=multi-user.target
